{% extends "base_generic.html" %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}" class="form-horizontal">
    {% csrf_token %}
    <div class="form-group form-group-lg" style="margin-top:20px;">
        <!--<label for="inputuser" class="col-sm-2">Username: </label>-->
        <div class="col-sm-4">
            <input type="username" id="inputuser" name="username" class="form-control" placeholder="Username" required autofocus>
        </div>

        <!--<label for="inputPassword" class="col-sm-2">Password:</label>-->
        <div class="col-sm-4">
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        <div class="col-sm-12">
            <input type="submit" value="login" class="btn btn-info navbar-btn" style="width:10%;margin-top:30px;"/>
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
    </div>
  </form>

  {# Assumes you setup the password_reset view in your URLconf #}
  <p style="margin-top:30px;"><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
