{% extends "base_generic.html" %}

{% block content %}

<h1>Delete Book</h1>

<p>Are you sure you want to delete the Book: {{ Book.title }}?</p>

<form action="" method="POST">
  {% csrf_token %}
  <div style="margin-top:30px;">
     <a class="btn btn-success navbar-btn normal-btn-design" style="width:100px; color:white;margin-right:30px;" href="{% url 'book-detail' book.id %}">Cancel</a>
     <input class="btn btn-danger navbar-btn" style="width:100px; color:white;" type="submit" value="Yes, delete.">
  </div>

</form>

{% endblock %}
