{% extends "base_generic.html" %}

{% block content %}
    <h1>My borrowed books</h1>

    {% if bookinstance_list %}
        <table class="table table-hover">
            <thead>
              <tr>
                  <th>Book </th>
                  <th>Due Back Date</th>
              </tr>
            </thead>
            <tbody>
            {% for bookinst in bookinstance_list %}
                <tr>
                <td><a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a></td>
                <td class="{% if bookinst.is_overdue %}text-danger{% endif %}">{{ bookinst.due_back }}</td>
              </tr>
            {%endfor%}
            </tbody>
        </table>
    {% else %}
      <p>You have not borrowed any books.</p>
    {% endif %}
{% endblock %}
