{% extends "base_generic.html" %}

{% block content %}
    <h1>All borrowed books</h1>

    {% if bookinstance_list %}
    <table class="table table-hover">
        <thead>
          <tr>
              <th>Book </th>
              <th>Due Back Date</th>
              <th>Borrower</th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
        {% for bookinst in bookinstance_list %}
            <tr>
            <td><a href="{% url 'book-detail' bookinst.book.pk %}">{{bookinst.book.title}}</a></td>
            <td class="{% if bookinst.is_overdue %}text-danger{% endif %}">{{ bookinst.due_back }}</td>
            <td><strong>{{bookinst.borrower}}</strong></td>
            <td>
                    <a class="btn btn-success navbar-btn" style="color:white;" href="{% url 'renew-book-librarian' bookinst.id %}">Renew</a>
            </td>
          </tr>
        {%endfor%}
        </tbody>
    </table>

    {% else %}
      <p>There are no books borrowed in this library.</p>
    {% endif %}
{% endblock %}
